body{
    margin: 0;
}

header {
    width: 100%;
    height: 70px;
    background-color: #CAD7DA;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav > a{
    margin-right: 30px;
    padding-bottom: 2px;
    text-decoration: none;
    color: #383838;
    font-size: 16px;
}

nav > a:hover {
    border-bottom: 4px solid #383838;
}

.avatar{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 30px;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

h1, h2, h3, h4, nav, p, li{
    font-family: "Inter", Helvetica, Arial, sans-serif;
    margin-bottom: 0;
}

li{
    list-style-type: none;
}

ul{
    padding-left: 0;
    margin-left: 0;
}

p{
    margin: 5px 0
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.col, .col-2{
    flex-grow: 0;
    flex-shrink: 1;
    box-sizing: border-box;
    padding-right: 30px;
}
.col{
    flex-basis: 50%;
    max-width: 50%;
    flex-direction: column;
}

col-2{
    flex-basis: 50%;
    max-width: 50%;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    background-color: #CAD7DA;
    color: #383838;
}

.social-icon{
    width: 30px;
    height: 30px;
    border-radius: 0;
}